body {
  background-image: url("assets/bg-desktop-dark.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(235, 21%, 11%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif sans-serif;
}
.body {
  background-image: url("assets/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsl(0, 0%, 98%);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif sans-serif;
}
.icon {
  width: 2rem;
}
.app {
  width: 50%;
  margin: auto;
}
.class {
  color: hsl(0, 0%, 98%);
  font-size: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12rem;
  margin: 0% 4% 0% 4%;
}
.input {
  display: flex;
  align-items: center;
  background-color: hsl(237, 14%, 26%);
  padding: 1rem 0 1rem 1rem;
  border-radius: 1rem;
}
.text {
  background-color: hsl(237, 14%, 26%);
  outline: none;
  border: none;
  width: 90%;
  margin: auto;
  font-size: 1.5rem;
  padding: 1rem;
  color: hsl(236, 9%, 61%);
}
.choice {
  background-color: hsl(237, 14%, 26%);
  border-radius: 50%;
  width: 1.8rem;
  height: 1.7rem;
  opacity: 50%;
  outline: 0.7rem solid hsl(235, 21%, 11%);
  color: hsl(237, 14%, 26%);
}
.Tick {
  border: 0.2rem solid white;
  width: 2rem;
  height: 2rem;
  border-radius: 50rem;
  cursor: pointer;
}
.Tick_effect {
  background-image: url("assets/bg-mobile-light.jpg");
  background-size: contain;
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}
.eachtodo {
  display: flex;
  gap: 10%;
  flex-basis: 80%;
  align-items: center;
}
.alltodos {
  padding: 0.3rem;
  background-color: hsl(237, 14%, 26%);
  position: relative;
  top: 3rem;
  width: 95%;
  margin: auto;
  border-radius: 1rem;
  color: hsl(234, 39%, 85%);
  box-shadow: 0.1rem 0.1rem 100rem 0.2rem hsl(237, 14%, 26%);
}
.eachtodowithcancel {
  display: flex;
  padding: 0.5rem;
  font-size: 1.2rem;
  border-bottom: 0.5px solid hsl(0, 0%, 98%);
  align-items: center;
  background-color: hsl(237, 14%, 26%);
  height: 4rem;
  justify-content: space-between;
}
.settodo {
  display: flex;
  padding: 1.5rem;
  justify-content: space-between;
}
.settodo div {
  cursor: pointer;
}
.all_last {
  position: relative;
  top: 7rem;
}
.filter {
  background-color: hsl(237, 14%, 26%);
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: hsl(236, 9%, 61%);
}
.filter div {
  cursor: pointer;
}
.advice {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  width: 85%;
  margin: auto;
  border-radius: 1rem;
  font-size: 1.2rem;
  color: hsl(236, 9%, 61%);
}
@media screen and (max-width: 500px) {
  body {
    background-image: url("assets/bg-mobile-dark.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(235, 21%, 11%);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
      sans-serif sans-serif;
  }
  .body {
    background-image: url("assets/bg-mobile-light.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-color: hsl(0, 0%, 98%);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
      sans-serif sans-serif;
  }
  .app {
    width: 100%;
    margin: auto;
  }
}
